{% extends 'base1.html' %}
{% block cambio2 %}
{% load static %}
<div class="row gx-7 gx-lg-6 align-items-center my-5 mx-auto">
    <div class="col-lg-2"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'assets/img/me2.jpg' %}" alt="..." /></div>
    <div class="col-lg-5 ml-auto">
        <h1 class="font-weight-light">Henry K. Quilca Rojas</h1>
        <p>Soy un ingeniero mecánico apasionado y altamente comprometido, graduado con méritos en el quinto superior de la Universidad Católica de Santa María, Arequipa. Mi participación activa como coordinador de comités y organizador de eventos, incluyendo la VIII Jornada y el XIII Congreso Internacional de Ingeniería Mecánica, destaca mi habilidad para el trabajo en equipo y la resolución de problemas. Poseo una sólida base técnica respaldada por certificaciones en herramientas como Solidworks y una actitud proactiva para aprender. Mi enfoque se caracteriza por la puntualidad, responsabilidad y creatividad en la resolución de desafíos. Actualmente, estoy en la búsqueda de oportunidades laborales que me permitan aplicar y desarrollar aún más mis habilidades en un entorno dinámico y desafiante.</p>
    </div>
</div>
{% endblock %}